.recipe {
  &Name {
    font-weight: 700;
    font-size: 2.8em;
    transition: font-size, 1s;
  }

  &Container {
    text-align: center;
    font-size: 1.6rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-size: 2.8em;
}

h3 {
  font-weight: bold;
}

.image {
  width: 26em;
  height: 20em;
  transition: width, height, 1s;
  margin-top: 2.5rem;
}

.info {
  background-color: lightgrey;
  padding: 2rem 1rem 1rem;
  width: 100%;

  &Rating {
    display: flex;
    justify-content: center;
  }

  .dietLabel {
    margin-left: 1rem;
  }

  &Col {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

.nutrients {
  display: flex;
  justify-content: space-evenly;

  &Name {
    font-weight: bold;
  }

  .carbs {
    &Short {
      display: none;
    }
  }
}

.segment {
  margin-top: 4rem;
}

.description {
  width: 90%;
  text-align: left;
  overflow-wrap: break-word;
}

.lists {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.ingredient {
  display: flex;

  &Name {
    margin-right: 1rem;
  }

  &Unit {
    margin-right: 1rem;
  }
}

.steps {
  padding-right: 3rem;
}

@media (max-width: 500px) {

  .recipe {
    &Name {
      font-size: 3.5rem;
      transition: font-size, 1s;
    }

    &Container {
      font-size: 1.5rem;

    }
  }

  .image {
    width: 70vw;
    height: 55vw;
    transition: width, height, 1s;
  }
}

@media (max-width: 450px) {

  .recipe {
    &Name {
      font-size: 2.9rem;
      transition: font-size, 1s;
    }
  }

  .dietLabel {
    display: none;
  }

  .nutrients {
    .carbs {

      &Long {
        display: none;
      }

      &Short {
        display: initial;
      }
    }
  }
}