.submit {
  display: flex;
  justify-content: center;
  padding: 1rem 5rem;
}

.error {
  border: 2px solid #FF6565;
}

.errorMessage {
  color: #FF6565;
  padding: 0.5em 0.2em .8em .2em;
  height: 1em;
  font-size: .8em;
}