.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  height: auto;
  margin-top: 11rem;
  transition: all 0.5s;
}

@media (max-width: 450px) {
  .main {
    margin-top: 8rem;
    transition: all 0.5s;
  }
}