.ratingWrapper {
  height: 6rem;
  width: 14rem;
}

.rating {
  color: gold;
  font-size: 2rem;
  position: absolute;

  &Select {
    position: relative;
    top: -3rem;

    opacity: 0;
    transition: opacity 0.3s;
  }

  &Stars {
    position: relative;

    opacity: 1;
    transition: opacity 0.3s;
  }

  svg {
    margin: 2px;
  }
}

.rating:hover, .rating:active {
  .ratingStars {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .ratingSelect {
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.starWrapper {
  direction: rtl;
}

.rearStar {
  color: #fff;
}

.disabledStar {
  color: gray;
}

.star-wrapper a:hover {
  color: gold;
  transform: scale(1.3);
}

.rearStar:hover {
  color: gold;
  transform: scale(1.3);
}

.rearStar:nth-child(1):hover ~ svg {
  color: gold;
}

.rearStar:nth-child(2):hover ~ svg {
  color: gold;
}

.rearStar:nth-child(3):hover ~ svg {
  color: gold;
}

.rearStar:nth-child(4):hover ~ svg {
  color: gold;
}

.rearStar:nth-child(5):hover ~ svg {
  color: gold;
}

.numberOfRatings {
  position: relative;
  color: black;
  top: 3rem;
}