.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 5rem;
  background-color: #5ea3a3;
  position: fixed;
  height: 10rem;
  width: 100%;
  z-index: 5;

  a {
    text-decoration: none;
    color: black;
  }
}

.headerNav {
  display: flex;
  width: 8.5em;
  justify-content: space-between;
}