.image {
	height: 100%;
	width: 100%;
}

.imageBox {
	width: 100%;
	height: 10em;
}

.recipePreview {
	margin: 1.5rem;
	list-style-type: none;

	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #add2c9;
	max-width: 24rem;
	min-width: 19rem;
	height: 24rem;
	font-size: 1.5rem;
	padding: 0;
}

.info {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.8rem;

	p {
		margin: 0;
	}
}

.details {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 0.5rem;
}

.diet {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}

.recipeName {
	text-align: center;
}

.detailsColumn {
	padding: 0;
	display: flex;
	justify-content: center;
}
