.recipePreview {
  margin: 1.5rem;
  list-style-type: none;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d5e6e2;
  max-width: 24rem;
  min-width: 19rem;
  height: 26.5rem;
  font-size: 1.5rem;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  border-radius: 5px;
}

.recipePreview:hover {
  cursor: pointer;
}

// IMAGE

.image {
  height: 100%;
  width: 100%;
}

.imageBox {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10em;
  position: relative;
  border: gray solid 1px;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  z-index: 1;
  transition: 0.8s;

  &:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.65s;
  }
}

// INFO

.info {
  height: 100%;
  width: 100%;

  padding: 1.8rem;

  p {
    margin: 0;
  }
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.diet {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.recipeName {
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.detailsColumn {
  padding: 0;
  display: flex;
  justify-content: center;
}