.rating {

  &Icon {
    vertical-align: -0.5rem;
    margin-right: 0.5rem;
    font-size: 2.1rem;
    color: #ffd301;

    &Disabled {
      color: gray;
    }
  }

  &Disabled {
    color: gray;
  }
}